* {
	margin: 0;
	padding: 0;
}

#content {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

/* SIDE BAR */

#sideMenu {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 1fr;
	grid-row: 1 / 3;
	justify-items: center;
	align-items: center;
	border: 1px solid black;
}

#sideMenuOne, #sideMenuTwo {
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	gap: 10px;
	font-size: 20px;
}

#sideMenuTwo {
	margin-right: 41px;
}

#dashBoardLabel {
	font-size: 30px;
}

/* END SIDEBAR */

/* MAIN CONTENT */

#mainContent {
	display: grid;
	grid-template-rows: 1fr 2fr;
}

/* TITLE BAR */

#titleBar {
	padding-top: 15px;
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}

#searchCont {
	display: grid;
	grid-template-columns: 1fr 8fr;
	gap: 20px;
	padding-right: 40px;
	padding-bottom: 10px;
}

#searchCont img {
	justify-self: right;
}

#page-search {
	height: 25px;
	border-radius: 15px;
	border: 1px solid black;
	padding: 8px;
}

#profileInfo {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

#profileInfoNotifyImg {
	justify-self: right;
}

#profileInfoUserImg {
	border-radius: 40px;
}

#profileInfo p {
	justify-self: left;
	font-weight: bold;
	font-size: 18px;
}

#userGreetingActionCont {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#userGreeting {
	display: grid;
	grid-template-columns: 1fr 3fr;
	padding-left: 40px;
}

#userGreeting img {
	border-radius: 80px;
	transform: scaleX(-1);
}

#userGreetingMsg {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 5px;
}

#userGreetingMsg p:nth-child(1) {
	align-self: end;
	font-weight: bold;
}

#userGreetingMsg p:nth-child(2) {
	font-size: 25px;
	font-weight: bold;
}

#userActions {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	padding-top: 20px;
}

#userActions button:first-child {
	justify-self: right;
}

#userActions button:last-child {
	justify-self: left;
}

.userActionButton {
	height: 40px;
	width: 100px;
	border: 1px solid black;
	border-radius: 30px;
	font-weight: bold;
}

/* END TITLE BAR */

#mainDash {
}

/* END MAIN CONTENT */


